
@{
    ViewData["Title"] = "Ingresso";
}

<head>
        <link rel="stylesheet" href="~/css/style_Reserve.css" />
</head>

<style>
   .salaoMesas{
       background-color: #f1e7c5;
       border: 2px solid #80bca3;
       width: 30rem;
       height: 25rem;
   }
</style>

 <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>

<h1>Reserva de ingressos</h1>

<div class="salaoMesas">


    <div id="mesa_circular">
        @for (int i = 1; i <= 8; i++){
                <button id="cadeira-@i" class="assento-@i cadeira" onclick="cadeiraSelecionada(this)">@i</button>
        }
    </div>

    <div>
        <div>
            Valor total:
             <span id="totalCompra"></span>
        </div>
    </div>
</div>


<script>


   function cadeiraSelecionada(botao) {      
        botao.classList.toggle("selecionada"); // faz com que adicione class "selecionada" caso a mesma não exista. Caso clicar no botão de novo e a class "selecionada" existir, eu removo ela.
         atualizarValorTotal();
   }
   
   function atualizarValorTotal() {
        var numero_deCadeiras = $('.cadeira.selecionada').length; // obtém o número de cadeiras selecionadas
        $.ajax({
            url: '@Url.Action("CalcularValorTotal", "Pagamento")',
            data: { numero_deCadeiras: numero_deCadeiras },
            success: function (data) {
                $('#totalCompra').html('R$ ' + data); // atualiza o valor total na tela
            }
        });
    }

    $(function () {
        atualizarValorTotal(); // atualiza o valor total na página carregada
    });

</script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


