@{
    ViewData["Title"] = "Home Page";
}

<style>
    .text-center{
        display:flex;
        justify-content: center;
    }
</style>

<div class="text-center">
    <h1 class="display-4  titulosite">Encantadas Produções</h1>
</div>
