@using WebEncantadas;

@{
    ViewData["Title"] = "Login";
}

<head>
       @* <link rel="stylesheet" href="~/css/style_Reserve.css" />*@
</head>

 <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>

<h1>Login</h1>
<div>
    <form asp-action="Login_" method="post"> 
        <div>
            <label>
                Login
            </label>
            <input id="login"/>  
        </div>
        <div>
              <label>
               Senha
            </label>
            <input id="senha"/>
        </div>
        <button type="submit" >Cadastrar</button>
     </form>
</div>


<script>

</script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


