@using WebEncantadas;

@{
    ViewData["Title"] = "FotosVideos";
}

<head>
       @* <link rel="stylesheet" href="~/css/style_Reserve.css" />*@
</head>

 <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>

<h1>Fotos e Vídeos</h1>



<script>
   



</script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


