@model WebEncantadas.Models.ViewModels.CadastroViewModel

@{ 
    ViewData["Title"] = "Create";
}

@*<script src="~/Content/Scripts/Pagamento/DetalhesCompra.js"></script>*@
<head>
    <script src="~/js/cadastro.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/google-libphonenumber/3.2.16/libphonenumber.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.5.1/jquery.inputmask.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/3.5.1/jquery.maskedinput.min.js"></script>
     <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
</head>


@*
@{
    // Cria uma instância do objeto PhoneNumberUtil
    var phoneUtil = libphonenumber.PhoneNumberUtil.getInstance();

    // Formata o número de telefone com uma máscara
    var phoneNumber = "15555555555";
    var formattedPhoneNumber = phoneUtil.format(phoneUtil.parse(phoneNumber, "BR"), libphonenumber.PhoneNumberFormat.NATIONAL);
}*@

<h4>Cadastro</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NomeResponsavel" class="control-label">Nome do Responsável</label>
                <input asp-for="NomeResponsavel" class="form-control" />
                <span asp-validation-for="NomeResponsavel" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="CPF" class="control-label">CPF</label>
                <input asp-for="CPF" class="form-control" />
                <span asp-validation-for="CPF" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">E-mail</label>
                <input asp-for="Email" class="form-control" id="email" onblur="validarEmail()" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmacaoEmail" class="control-label">Confirmar e-mail</label>
                <input asp-for="ConfirmacaoEmail" class="form-control" id="Confirma_email" />
                <span asp-validation-for="ConfirmacaoEmail" class="text-danger"></span>
            </div>
              <div class="form-group">
                <label asp-for="Contato" class="control-label">Contato</label>
                <input asp-for="Contato" class="form-control phone-mask" type="tel" id="telefone" name="telefone" placeholder="(99) 99999-9999" onkeypress="mascara()" maxlength="15"/>
                <span asp-validation-for="Contato" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContatoEmergencial" class="control-label">Contato emergencial</label>
                <input asp-for="ContatoEmergencial" class="form-control" />
                <span asp-validation-for="ContatoEmergencial" class="text-danger"></span>
            </div>
            <div>
                <label>Quantas crianças você irá levar?</label> @*colocar validação que não pode ser mais que quatro crianças*@
                <input id="numeroDeCriancas"  name="numeroDeCriancas"/>
                <button onclick="adicionarCriancas()">Adicionar</button>
            </div>
          <div id="inputsCad">

          </div>
            
            @*<div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-primary" /> @*value é o nome do botão para cadastrar*@
            </div>
        </form>
    </div>
</div>

@*<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    var numCriancas = $('#numeroDeCriancas').value;

  $(document).ready(function(){

  });

  function mascara (){
        debugger;
       $('#telefone').inputmask('(99) 99999-9999');
  }

    const telefoneInput = document.getElementById('telefone');

    telefoneInput.addEventListener('input', function(event) {
      let telefone = event.target.value;

      // Remove tudo o que não é dígito
      telefone = telefone.replace(/\D/g, '');

      // Adiciona parênteses e traço
      telefone = telefone.replace(/(\d{2})(\d)/, '($1) $2');
      telefone = telefone.replace(/(\d{5})(\d)/, '$1-$2');

      // Atualiza o valor do input
      event.target.value = telefone;
    });

    $(document).ready(function () {
        $('.phone-mask').mask('(00) 00000-0000');
    });

    function validarEmail() {
      var email = document.getElementById("email").value;
      var regex = /^[^\s]+[^\s]+\.[^\s]+$/;
      if (!regex.test(email)) {
        alert("Por favor, digite um endereço de e-mail válido.");
        return false;
      }
      return true;
    }

    //function validaConfirmacaoEmail

    //var inputsDiv  = document.createElement("div");
    //inputsDiv .id = "inputs";

    

  function adicionarCriancas() {
  var numCriancas = document.getElementById("numeroDeCriancas").value;
  var inputsCad = document.getElementById("inputsCad");

  // Limpa quaisquer inputs anteriores
  inputsCad.innerHTML = "";

  // Cria novos inputs
  for (var i = 0; i < numCriancas; i++) {
    var label = document.createElement("label");
    label.innerHTML = "Nome da criança " + (i + 1) + ": ";

    var input = document.createElement("input");
    input.type = "text";
    input.name = "crianca" + i;


    var br = document.createElement("br");

    inputsCad.appendChild(label);
    inputsCad.appendChild(input);
    inputsCad.appendChild(br);
  }
}

</script>

